<html>
  <head>
    <link rel="stylesheet" href="/css/404.css"/>
    <title>404 - Not Found</title>
  </head>
  <body>
    <h1>Not Found</h1>
    <h3>The requested ingredient (<%= path %>) was not found in the cupboard commonly known as Atlantic.</h3>
    <a href="/">Go back?</a>
  </body>
</html>