<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create_account.css">
    <link rel="icon" href="/images/atlantic_icon.ico" type="image/x-icon" />
    <title>Atlantic: Create Account</title>
</head>
<body>
    <div class="create-account-container">
        <h1>Create Your Account</h1>
        <form action="/executeCreateAccount", method="post">
            <input type="text" placeholder="Username" id="username" name="username" required>
            <input type="password" placeholder="Password" id="password" name="password" required>
            <button type="submit">Create Account</button>
        </form>
        <% if (issue != null) { %>
            <p class="issue-text" id="issueText"><%= issue %></p>
        <% } %>
        
        <div class="login-link">
            Already have an account? <a href="/login">Login</a>
        </div>
        <div class="login-link">
            First time? READ <a href="/help">THIS</a>
        </div>
    </div>
    <footer> 
        <p>By using Atlantic, you agree to the <a href="/legal">legal documents</a></p>
    </footer>
</body>
</html>
