<!DOCTYPE html>
<html>
<head>
    <title>Create Chat Room</title>
    <p>admin | <%= theme %></p>
    <% if (theme == 'light') { %>
        <link rel="stylesheet" type="text/css" href="/css/create_room_admin.css">
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="/css/dark/create_room_admin_dark.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="/css/create_room_admin.css">
    <link rel="icon" href="/images/atlantic_icon.ico" type="image/x-icon" />
    
</head>
<body>
    <%- include('topbar.ejs') %>
    <div class="content">
        <div class="create-room-box">
            <h2>Create Chat Room</h2>
            <form class="create-room-form" action="/executeCreateRoom" method="post">
                <div class="form-group">
                    <label for="roomName">Room Name:</label>
                    <input type="text" autoComplete="new-password" id="roomName" name="roomName" required>
                </div>
                <div class="form-group">
                    <label for="roomPassword">Password:</label>
                    <input placeholder="leave blank for public room" type="password" autoComplete="new-password" id="roomPassword" name="roomPassword">
                </div>
                <button class="create-room-button" type="submit">Create Room</button>
            </form>
        </div>
    </div>
</body>
</html>
