<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enter Username To DM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <% if (theme === 'light') { %>
        <link rel="stylesheet" type="text/css" href="/css/direct_messages_entry.css">
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="/css/dark/dark_direct_messages_entry.css">
    <% } %>
    <script src="/js/direct_messages_entry.js"></script>
    <link rel="icon" href="/images/atlantic_icon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <h2>Direct Messaging</h2>
        <form id="dm-entry-form" onsubmit="checkRedirect(event)">
            <div class="form-group">
                <label for="username">Enter Username:</label>
                <input autofocus type="text" id="username-input" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <button type="submit">Go</button>
                <!-- <button type="submit" onclick="triggerCall(event)">Call</button> -->
            </div>
            <% 
            for (const person of dms) { 
            %>
                <a href="/dm?target=<%= person %>"><%= person %></a>
                <br>
           <% } %>
        </form>
    </div>
</body>
</html>
