<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
    <title>Atlantic: Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Welcome Back!</h1>
        <form action="/executeLogin", method="post">
            <input type="text" placeholder="Username" id="username" name="username" required>
            <input type="password" placeholder="Password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="create-account">
        Don't have an account? <a href="/create_account">Create one</a>
    </div>
</body>
</html>
