<!DOCTYPE html>
<html>
<head>
    <title>Chat Rooms</title>
    <% if (theme === 'light') { %>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="/css/dark/dark_main.css">
    <% } %>
    <link rel="icon" href="/images/atlantic_icon.ico" type="image/x-icon" />
</head>
<body>
    <!-- <div class="top-bar">
        <div class="username"><%= username %></div>
    </div> -->
    <%- include('topbar.ejs') %>
    <div class="content">
      <div class="add-room">
        <a href="/create_room" class="add-room-button">+ Add Room</a>
      </div>
      <p class="notice">NOTICE: Atlantic is migrating to the argon2-id hashing system. <a href="/temp_notice">Details</a></p>
      <div class="rooms">
        <h2>Chat Rooms</h2>
        <ul>
          <li>
            <div class="add-room">
              <a href="/dm_entry" class="add-room-button">Direct Messages</a>
            </div>
          </li>
          <% rooms.forEach(room => { %>
            <li>
              <a href="/room?roomId=<%= room.id %>" class="<%= room.password === 'none' ? 'normal-room' : 'private-room' %>">
                <%= room.name %>
              </a>
            </li>
          <% }); %>
        </ul>
        <p class="notice">Also visit <a href="https://web.telux.repl.co" >Telux</a>!</p>
      </div>
    </div>    
</body>
</html>
<!-- <span class="tooltiptext">Tooltip text</span> -->