<!DOCTYPE html>
<html>
<head>
    <title>Password Entry</title>
    <% if (theme === 'light') { %>
    <link rel="stylesheet" type="text/css" href="/css/password_.css">
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="/css/dark/dark_password_entry.css">
    <% } %>
</head>
<body>
    <div class="content">
        <div class="password-form">
            <h2>Enter Password for Private Room</h2>
            <form action="/verify_room_password?roomId=<%= roomId %>" method="post">
                <input type="password" name="password" id = "password" placeholder="Enter Password" required>
                <button type="submit">Enter</button>
            </form>
        </div>
    </div>
</body>
</html>