<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
    <link rel="stylesheet" type="text/css" href="/css/perms.css">
    <script src="/js/perms.js"></script>
    <link rel="icon" href="/images/atlantic_icon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <h1>Thanks for creating an account!</h1>
        <h2>Please consider the following:</h2>
        <ul>
            <li><p>Audio permissions are required to have voice calls.</p></li>
            <li><p>Notification permissions are required to notify you when you are being called or messaged.</p></li>
        </ul>
        <h3>With that in mind, please click anywhere to begin, and make the appropriate decisions.</h3>
        <h3>After you have resolved our requests, you will be re-directed to the login page, where you will once more need to enter the credentials that you selected.</h3>
        <h3>Then, you will be able to use Atlantic to it's full extent.</h3>
    </div>
</body>
</html>
