/* Apply some general styling */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .content {
    font-size: 70;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light background color */
  color: #333;
}

.login-container {
  background-color: #f9f9f9; /* Lighter container color */
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 300px;
}

.login-container img {
  /* Set a maximum width to fit within the container */
  max-width: 100%; /* This makes the image responsive and fit the container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove any extra space around the image */
  margin: 0 auto; /* Center the image horizontally */
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0; /* Light input background */
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue button color */
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Center the account creation link */
.create-account {
  text-align: center;
  margin-top: 20px;
}

/* Style for the account creation link */
.create-account a {
  color: #0066cc;
  text-decoration: none;
  transition: color 0.3s;
}

.create-account a:hover {
  color: #0052a3;
}
