/* styles.css */

/* Apply some general styling */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .content {
    font-size: 70;
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style for the main content */
.content {
  padding: 20px;
}

/* Style for the list of chat rooms */
.rooms {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rooms h2 {
  margin-bottom: 10px;
}

.rooms ul {
  list-style: none;
  padding: 0;

}


.rooms li {
  margin-bottom: 10px;
}
.normal-room {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  @media screen and (max-width: 600px) {
    font-size: 70vw
  }
}

.normal-room::after {
  content: "Public";
  color: #999;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  right: -70px; /* Adjust this value for spacing */
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.normal-room:hover {
  color: #0066cc;
}

.normal-room:hover::after {
  opacity: 1;
}

.private-room {
  color: red;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  @media screen and (max-width: 600px) {
    font-size: 70vw
  }
}

.private-room::after {
  content: "Private";
  color: #999;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  right: -70px; /* Adjust this value for spacing */
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.private-room:hover {
  color: #0066cc;
}

.private-room:hover::after {
  opacity: 1;
}

.add-room {
  margin-bottom: 20px;
}

.add-room-button {
  color: #fff;
  background-color: #0066cc;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.add-room-button:hover {
  background-color: #0052a3;
}