/* password_entry.css */

/* Apply some general styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style for the main content */
.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.password-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.password-form h2 {
  margin-bottom: 20px;
}

.password-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -10px; /* Add this line for right padding */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-form button {
  background-color: #0066cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password-form button:hover {
  background-color: #0052a3;
}
