body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background color */
    color: #fff;
  }
  
  .login-container {
    background-color: #333; /* Darker container color */
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #444; /* Dark input background */
    color: #fff;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue button color */
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
    /* Center the account creation link */
  .create-account {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Style for the account creation link */
  .create-account a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .create-account a:hover {
    color: #0052a3;
  }
  